html {
	scroll-behavior: smooth;
}

h2 {
	margin: 0 auto;
}

h3 {
	font-size: 8vh;
	color: #0000FF;
	font-weight: 700;
}

@media (max-width: 358px) {
	.visible-ss {
		display: block !important;
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important;
	}
}

a {
	color: #357b70;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

a li {
	list-style-type: none;
}

.work-item {
	padding: 2vh;
	font-size: 3vh;
}

p {
	padding: 2vh;
}

a:visited {
	color: #05676e;

}

a:hover {
	text-decoration: none;
	opacity: 0.8;
	color: #f76414;

}

a:focus {
	text-decoration: none;
	opacity: 0.8;
	color: #f76414;

}

a:active {
	color: #489c79;
	text-decoration: none;
}

.github {
	font-family: 'Press Start 2P', sans-serif;
}

.icon {
	width: 150px;
	height: 70px;
	max-width: 150px;
	max-height: 70px;
}

.splash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: black;
	z-index: 200;
	color: white;
	text-align: center;
	line-height: 90vh;
	font-size: 1vh;

}

.splash.display-none {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: black;
	z-index: -10;
	color: white;
	text-align: center;
	line-height: 90vh;
	transition: all 0.5s;
	opacity: 0;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;
}

.social-media img {
	width: 50px;
	height: 50px;
}

th {
	padding: 20px;
}

main {
	text-align: center;
}

.i-am {
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: auto;
	padding: 4vh;
	font-size: 2vh;
}

.profile__portrait {
	float: none;
	width: 50vh;
	height: auto;
	border-radius: 15%;
	display: block;
	margin: 0 auto;
}

.coding {
	float: none;
	width: 75vh;
	height: 40vh;
	border-radius: 2vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	max-height: 30%;
}

.profile {
	margin: 0 auto;
	max-width: 700px;
}

.img {
	height: 45vh;
	width: 65vh;
}

.demo {
	font-size: 2.5vh;
	font-family: Montserrat;
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50vh 50vh;
	grid-template-columns: 80vh 80vh;
	-ms-grid-rows: 88vh 99vh 88vh;
	grid-template-rows: 90vh 106vh 90vh;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 40px;
	line-height: normal;
}

.grid__item {
	background: var(--bg);
	margin: .5vh;
	border: .5vh inset black;
}

#profile__web {
	background-color: #323232;
	color: #e79e19;
	font-weight: 700;
}


:root {
	--bg: #E7D9D9;
	--body-color: #443d3d;
}

.t-dark {
	--bg: #211e1e;
	--header-color: #FFFFFF;
	--body-color: #FFFFFF;
}

html {
	line-height: 1.45;
}

body {
	font-size: 1.3em;
	letter-spacing: .037em;
	color: var(--body-color)
}

h1,
h2 {
	color: var(--header-color)
}

.b-site--theme-control {
	border: none;
	background: 0 0;
	font-size: 1.2em;
	text-transform: lowercase;
	color: var(--body-color);
	cursor: pointer
}

.b-site--theme-text {
	display: none
}

@media(min-width:526px) {
	.b-site--theme-text {
		display: inline
	}
}

.b-icon {
	fill: var(--body-color)
}

.b-icon--sun,
.b-icon--moon {
	height: 19px;
	width: auto;
	display: none
}

body {
	background-color: var(--bg);
	transition: all .8s ease-out;
	font-family: 'Roboto Mono'
}

.navbar {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #18157A;
	color: lightyellow;
	opacity: 0.9;
	width: 100%;
	height: 100px;
	top: 0;
	padding: 0 30px;
	padding-bottom: 5px;
	transition: 0.7s;
}

.navbar a {
	color: #a69cac;
	padding: 10px 20px;
	margin: 0 5px;
}

.navbar li a:hover {
	border-bottom: #474973 2px solid;
}

.navbar ul li {
	display: inline-block;
}

.navbar ul {
	margin-right: 40px;
}

.navbar .logo {
	font-weight: 600;
	font-size: 45px;
}

/* 
.btn {
	text-decoration: none;
	max-width: fit-content;
	color: #FFFFFF;
	font-weight: 350;
	background-color: #18157A;
	border-radius: 8px;
	margin-top: 20px;
	padding: 5px 20px;
	transition: 0.3s ease;
}

.btn:hover {
	background-color: #a69cac;
	color: black;
} */

#footer {
	background-color: #18157A;
	width: 100%;
	clear: both;
	text-align: center;
}

#footer .footer {
	min-height: 150px;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 15px;
	bottom: 0;
	text-align: center;
}

#footer h1 {
	font-size: 16px;
	color: white;
}

#footer h2 {
	color: white;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 10px;
	justify-content: center;

}

#footer .social-item {
	margin: 0 5px;
	padding-top: 10px;
}

#footer img {
	width: 50px;
	height: 50px;
}

.social-item:hover {
	opacity: .7;
}